name: Futnion DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-secure-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout del código
      uses: actions/checkout@v3

    # Paso opcional: Ejecutar pruebas si tienes scripts de test definidos
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 18
    
    - name: Instalar dependencias y Testear
      run: |
        npm install
        # Si tienes tests configurados en package.json descomenta la siguiente línea:
        # npm test

    # Inicio de fase Docker y Seguridad
    - name: Login en Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Construir y Subir Imagen Docker
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/futnion-app:latest

    - name: Descargar Plantilla HTML de Trivy
      run: |
        curl -L https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/html.tpl -o html.tpl

    # 2. Escaneo usando el archivo local 'html.tpl'
    - name: Escaneo de Vulnerabilidades (Generar HTML)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: '${{ secrets.DOCKER_USERNAME }}/futnion-app:latest'
        format: 'template'
        template: '@html.tpl'    # Ahora apuntamos al archivo que bajamos arriba
        output: 'trivy-report.html'
        severity: 'CRITICAL,HIGH'
        exit-code: '0'

    # 3. Subir el reporte (Este se queda igual)
    - name: Subir Reporte de Seguridad
      uses: actions/upload-artifact@v4
      with:
        name: reporte-trivy-html
        path: trivy-report.html

    # Validación de Integridad (Kubeconform - Sucesor de Kubeval)
    - name: Validar Integridad de K8s (Kubeconform)
      run: |
        wget https://github.com/yannh/kubeconform/releases/download/v0.6.3/kubeconform-linux-amd64.tar.gz
        tar xf kubeconform-linux-amd64.tar.gz
        chmod +x kubeconform
        # Validamos el archivo y pedimos un resumen
        ./kubeconform -summary -output text k8s/deployment.yaml